@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&display=swap");
.fa-arrow-down {
  animation: move-down 1s linear infinite;
  color: black !important;
}

.arrow {
  position: fixed;
}

.skip {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  border: 2px solid var(--theme-color);
  padding: 0 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.skip:hover {
  background-color: var(--theme-color);
}

@keyframes move-down {
  0% {
    position: relative;
    top: 0rem;
  }
  100% {
    top: 2rem;
  }
}

/* //////////////////////////Preloaders End////////////////////////// */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-content {
  position: absolute;
  width: 100vw;
  background-color: var(--background-color);
  animation: fade-in 1.2s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar {
  width: 100vw !important;
  display: flex;
  color: var(--text-color-1) !important;
  flex-direction: row !important;
  height: 3rem;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid #eee;
  padding-left: 5vw;
  z-index: 100;
  background-color: var(--background-color);
}

.navbar .logo {
  margin: 0.5rem 1rem;
  margin-right: 3rem;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Bellota", cursive;
  cursor: pointer;
}

.navbar .logo .fa {
  font-size: 1.2rem;
  position: relative;
  top: 0.1rem;
  color: var(--text-color-2);
}

.navbar .nav-item {
  color: var(--text-color-1);
  margin: 0.5rem 1rem;
  font-weight: 300 !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
}

.navbar .nav-item.active {
  color: var(--text-color-2) !important;
}

.nav-item:hover {
  color: var(--text-color-2) !important;
}

.mobile-nav-toggle {
  height: 4px;
  width: 1.6rem;
  border-radius: 5px;
  position: absolute;
  background-color: var(--text-color-2);
  right: 2rem;
  margin: 5px 0;
  cursor: pointer;
  z-index: 3;
  transform: rotate(180deg);
  transition: all 0.3s ease-out;
}

.mobile-nav-toggle::before {
  content: "";
  position: absolute;
  transform: translateY(-7px);
  height: 4px;
  width: 1rem;
  right: 0;
  border-radius: 5px;
  background-color: var(--text-color-1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.mobile-nav-toggle:hover {
  background-color: var(--text-color-1);
}

.mobile-nav-toggle::before:hover,
.mobile-nav-toggle::after:hover {
  background-color: var(--text-color-2);
}

.mobile-nav-toggle::after {
  content: "";
  position: absolute;
  height: 4px;
  transform: translateY(7px);
  width: 1rem;
  border-radius: 5px;
  background-color: var(--text-color-1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.mobile-nav-toggle:hover::after {
  background-color: var(--text-color-2) !important;
  width: 100%;
}

.mobile-nav-toggle:hover::before {
  background-color: var(--text-color-2) !important;
  width: 100%;
}

.mobile-nav-toggle.active {
  background-color: transparent !important;
  transform: rotate(0deg);
}

.mobile-nav-toggle.active::after {
  transform: translateY(0px) rotateZ(-45deg);
  width: 100%;
  opacity: 1;
  background-color: white;
}

.mobile-nav-toggle.active::before {
  transform: translateY(-1px) rotate(45deg);
  width: 100%;
  opacity: 1;
  background-color: white;
}

@media (max-width: 1080px) {
  .navbar .nav-item {
    margin: 0.5rem 0.5rem;
  }
}

@media (max-width: 895px) {
  .navbar .nav-item {
    display: none;
  }
}

.mode-toggle {
  position: fixed;
  right: 1.2rem;
  margin-top: 3.5rem;
  color: var(--text-color-1);
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  z-index: 3;
}

.mode-toggle:hover {
  color: var(--text-color-2);
}

.mode-toggle.fa-lightbulb-o {
  right: 1.5rem;
}

.transparent {
  background-color: transparent !important;
  border-bottom: transparent;
}

.transparent .fa {
  color: white !important;
}

.transparent .nav-item.active {
  color: white !important;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  z-index: -3;
  will-change: opacity;
}

.mobile-menu .mobile-nav-item {
  text-align: center;
  font-size: 2rem;
  color: var(--text-color-1);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.mobile-menu .mobile-nav-item:hover {
  color: var(--text-color-2);
  transition: color 0.3s ease-out;
  transition-delay: 0s !important;
}

@media (max-width: 560px) {
  .profession-heading {
    padding-right: 0 !important;
  }
  .mobile-nav-item {
    font-size: 1.6rem;
  }
  .mode-toggle,
  .mobile-nav-toggle {
    right: 0.6rem !important;
  }
  .mobile-menu {
    padding-top: 20%;
  }
  .fa-lightbulb-o {
    right: 0.75rem !important;
  }
}

.mobile-menu.active {
  opacity: 1 !important;
  z-index: 3;
}

.mobile-menu.active .mobile-nav-item {
  transition-delay: 0.1s;
  opacity: 1;
}

body.dark-mode {
  --background-color: #1a1a1a !important;
  --text-color-2: white;
}

body.dark-mode .navbar {
  border-bottom: none;
}

body.dark-mode .fa-bootstrap {
  color: skyblue;
}

body.dark-mode .django svg path {
  fill: white;
}

.section-header {
  font-family: "Bellota", cursive;
  font-weight: 900;
  font-size: 1.5rem;
}

.subsection-header {
  font-family: "Bellota", cursive;
  font-size: 1.3rem;
  font-weight: 700;
}

.hand {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  will-change: transform;
  display: inline-block;
  cursor: grab;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.middle {
  margin: auto 3rem;
}

.section-one {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.section-one .picture-container {
  position: relative;
}

.section-one .picture-inner {
  position: absolute;
  width: 80%;
  height: 90%;
  border: 7px solid var(--theme-color);
  top: -5%;
  z-index: 1;
  animation: spin 20s linear infinite;
  border-radius: 10px;
}

.section-one .picture-inner-two {
  position: absolute;
  width: 28rem;
  height: 28rem;
  top: -5%;
  z-index: 1;
  border-radius: 10px;
  animation-delay: 1.5s;
  border-radius: 50%;
}

.section-one .picture-inner-two::after {
  position: absolute;
  content: "";
  height: 80%;
  width: 80%;
  border-radius: 50%;
  animation: spin 3s linear infinite;
  border: 7px solid transparent;
  border-top-color: var(--text-color-2);
}

.section-one .picture-inner-two::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: spin 3s reverse infinite;
  border: 7px solid transparent;
  border-top-color: var(--theme-color);
  animation-delay: 0.7s;
}

.section-one .picture {
  position: relative;
  top: -100px;
  left: -50px;
  width: 740px;
  height: 600px;
  z-index: 2;
  background-image: url(../img/me.jpg);
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: cover;
  clip-path: polygon(31% 0, 100% 25%, 61% 100%, 0 93%);
}

.section-one .introduction {
  width: 40%;
  left: -25px;
  padding-right: 5%;
  position: relative;
}

.section-one .introduction .name {
  font-size: 2rem;
  margin-top: -0.8rem;
  margin-bottom: 0;
  line-height: 1.2 !important;
  color: var(--text-color-2);
}

.section-one .introduction .name .aka {
  font-size: 1rem;
  color: var(--text-color-1);
  font-weight: 300;
  line-height: 1;
  font-family: "Bellota", cursive;
}

.section-one .introduction p {
  font-size: 1.2rem;
  color: var(--text-color-1);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.section-one .introduction .profession-heading {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: var(--text-color-2);
  text-align: justify;
}

@media (max-width: 790px) {
  .section-one {
    flex-direction: column;
  }
  .introduction {
    width: 100% !important;
    padding-right: 10% !important;
  }
}

@media (max-width: 560px) {
  .picture {
    width: 100% !important;
    clip-path: polygon(28% 0, 100% 25%, 71% 100%, 0 93%) !important;
    height: 500px !important;
    margin-top: 25px;
  }
  .picture-inner-two::before {
    margin-left: -5%;
  }
  .picture-inner-two::after {
    margin-left: -12%;
  }
}

.links {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.links a {
  color: var(--text-color-2);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  margin: 0 0.7rem;
  margin-top: 0.5rem;
}

.links a:first-of-type {
  margin-left: 0;
}

.links .fa {
  text-align: center;
  font-size: 1rem;
}

.links a:hover {
  color: var(--text-color-1);
}

.split-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.split-section .left-side {
  flex: 1;
  display: flex;
  justify-content: center;
}

.split-section .left-side h2 {
  line-height: 1;
  text-align: left;
  position: relative;
  color: var(--theme-color);
  height: fit-content;
}

.split-section .right-side {
  flex: 3;
  margin-top: 1rem;
  padding: 0 8%;
  font-size: 0.85rem;
  color: var(--text-color-2);
}

.split-section .right-side .buttons {
  margin-top: 1rem;
}

.split-section .right-side .buttons a {
  width: 10rem;
  padding: 0.5rem;
  background-color: var(--text-color-2);
  color: var(--background-color);
  margin-right: 0.3rem;
  border-radius: 4px;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.split-section .right-side .buttons a:hover {
  background-color: var(--theme-color);
}

@media (max-width: 640px) {
  .split-section {
    flex-direction: column;
  }
  .split-section .left-side {
    margin-bottom: -1rem;
  }
  .split-section .left-side .dissapear-560 {
    display: none;
  }
}

.progress-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.progress {
  margin-bottom: 0.8rem;
}

.progress .progress-value {
  width: 200px;
  height: 14px;
  position: relative;
  background-color: var(--text-color-2);
}

.progress .progress-value::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 100%;
  background-color: var(--theme-color);
}

.progress .progress-value.two::after {
  width: 75% !important;
}

.progress .progress-value.three::after {
  width: 65% !important;
}

@media (max-width: 998px) {
  .progress-section {
    flex-direction: column;
  }
  .progress-section .progress-value {
    width: 100%;
  }
}

.technologies-section .skills-section,
.technologies-section .tools-section,
.frameworks-section .skills-section,
.frameworks-section .tools-section {
  display: flex;
  flex-wrap: wrap;
}

.technologies-section .skill,
.frameworks-section .skill {
  height: 5rem;
  width: 7rem;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.technologies-section .skill .skill-name,
.frameworks-section .skill .skill-name {
  color: var(--text-color-2);
  font-size: 0.9rem;
  margin-top: 1rem;
}

.technologies-section .skill .skill-icon,
.frameworks-section .skill .skill-icon {
  position: relative;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.technologies-section .skill .skill-icon .fab,
.frameworks-section .skill .skill-icon .fab {
  font-size: 2rem;
}

.technologies-section .skill .skill-icon::after,
.frameworks-section .skill .skill-icon::after {
  content: "";
  position: absolute;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  border-radius: 50%;
  border: 2.4px solid transparent;
  border-top-color: #ECB365;
  animation: spin 3s linear infinite;
}

.technologies-section .skill .skill-icon::before,
.frameworks-section .skill .skill-icon::before {
  content: "";
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 2.4px solid transparent;
  border-top-color: var(--text-color-2);
  animation: spin 3s reverse infinite;
}

.css::after,
.css::before {
  animation-delay: 0.4s !important;
}

.js::after,
.js::before {
  animation-delay: 0.8s !important;
}

.css::after,
.css::before {
  animation-delay: 1.2s !important;
}

.python::after,
.python::before {
  animation-delay: 1.6s !important;
}

.ruby::after,
.ruby::before {
  animation-delay: 2s !important;
}

.react::after,
.react::before {
  animation-delay: 2.4s !important;
}

.rn::after,
.rn::before {
  animation-delay: 2s !important;
}

.django svg {
  height: 65px;
  width: 65px;
  animation: rotate-3d 4s linear infinite;
}

.fa-html5 {
  color: #e34c26;
  animation: rotate-3d 4s linear infinite;
}

.fa-css3 {
  color: #2965f1;
  animation: rotate-3d 4s linear infinite;
}

.fa-sass {
  color: #fd6780;
  animation: rotate-3d 4s linear infinite;
}

.fa-js {
  color: #f0db4f;
  animation: rotate-3d 4s linear infinite;
}

.flutter {
  background-image: url(../img/flutter.svg);
  background-position: center;
  background-repeat: no-repeat;
  animation: spin 10s linear infinite;
}

.fa-bootstrap {
  color: darkblue;
  animation: spin 10s linear infinite;
}

.fa-git-alt {
  color: #f1502f;
  animation: spin 10s linear infinite;
}

.fa-react.rn {
  animation: spin 10s reverse infinite;
}

.fa-python {
  background: -webkit-linear-gradient(-137deg, #f0db4f 43%, var(--text-color-2) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotate-3d 4s linear infinite;
}

.fa-gem {
  font-size: 2rem;
  color: #a91401;
  animation: rotate-3d 1.7s linear infinite;
}

.dart {
  background-image: url(../img/dart-logo.svg);
  background-position: right;
  background-repeat: no-repeat;
  animation: spin 10s linear infinite;
}

.fa-vial {
  font-size: 2rem;
  background: -webkit-linear-gradient(90deg, #a91401 43%, var(--text-color-2) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotate-3d 4s linear infinite;
}

.fa-react {
  color: #00b7ff;
  animation: spin 10s linear infinite;
}

.unity {
  animation: spin 10s linear infinite;
}

.unity svg path {
  fill: var(--text-color-2) !important;
}

.react-native {
  color: #00b7ff;
  animation: spin 10s linear infinite;
}

.appear-560 {
  display: none;
}

@media (max-width: 560px) {
  .skills-section,
  .tools-section {
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-left: -1.2rem;
  }
  .aka {
    position: relative;
    top: -1rem !important;
  }
  .appear-560 {
    display: flex !important;
  }
}

@keyframes rotate-3d {
  0% {
    transform: rotate3d(0);
  }
  50% {
    transform: rotate3d(0, 1, 0, 3.142rad);
  }
  100% {
    transform: rotate3d(0);
  }
}

.filter-list {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-bottom: 1.5rem;
}

.filter-list .filter-option {
  text-transform: uppercase;
  margin: 0 0.5rem;
  padding: 0 0.7rem;
  padding-top: 0.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: var(--text-color-2);
  color: var(--background-color);
  border: 2px solid var(--text-color-2);
}

.filter-list .filter-option.active {
  color: var(--theme-color);
  font-weight: 600;
  background-color: var(--background-color);
  border: 2px solid var(--text-color-2);
}

.filter-list .filter-option:hover {
  color: var(--theme-color);
}

.project-desc {
  margin-bottom: 0.2rem;
  line-height: 1;
  color: var(--theme-color);
}

.project-desc span {
  font-size: 0.6rem;
  color: var(--text-color-2);
}

.project-tools {
  margin-bottom: 0.2rem;
  line-height: 1;
}

.project-tools {
  min-height: 3rem;
}

.project-items .item:hover .hover-info {
  opacity: 1;
}

.project-items {
  width: 120%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.project-items .item {
  width: 320px;
  height: 300px;
  margin: 0.5rem;
  position: relative;
  cursor: pointer;
}

.project-items .item img {
  height: 240px;
  width: 100%;
  border-radius: 5px;
}

.project-items .item img.cover {
  object-fit: cover;
}

.project-items .item .hover-info {
  position: absolute;
  transform: translateY(calc(-3rem + -113%));
  height: 80%;
  width: 100%;
  background-color: #ffa600a8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0;
  transition: 0.5s ease-out;
  border-radius: 5px;
}

.project-items .item .hover-info .info {
  color: white;
  text-align: center;
}

.project-items .item .hover-info .buttons-container {
  align-items: flex-end;
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-items .item .hover-info .code,
.project-items .item .hover-info .demo {
  font-size: 0.9rem;
  background-color: white;
  margin: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.project-items .item .hover-info .code:hover,
.project-items .item .hover-info .demo:hover {
  background-color: black;
  color: white;
}

.project-items .item .hover-info .code.disabled,
.project-items .item .hover-info .demo.disabled {
  background-color: grey !important;
  color: black;
}

.project-items .item .hover-info .code .fa,
.project-items .item .hover-info .demo .fa {
  margin-right: 0.2rem !important;
}

@media (max-width: 560px) {
  .filter-list {
    width: 100%;
  }
  .project-items {
    justify-content: center;
    align-items: center;
    position: relative;
    left: -1.3rem;
  }
}

.contact-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  padding-top: 0;
  margin: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

@media (max-width: 560px) {
  .form-container {
    flex-direction: column;
  }
  input[type="text"] {
    margin-top: 1rem;
  }
}

input[type="submit"] {
  width: 5rem;
  background-color: var(--text-color-2);
  padding: 0.5rem;
  font-size: 0.85rem;
  margin: auto;
  border-radius: 5px;
  color: var(--background-color);
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--theme-color);
}

.contact-right {
  width: 100%;
}

input:not([type="submit"]),
textarea {
  border: none;
  border-bottom: 1px solid var(--text-color-2);
  padding: 0.5rem;
  padding-left: 0.2rem;
  margin: 1rem;
  width: 90%;
  font-family: "Bellota", cursive;
  color: var(--text-color-2);
  font-size: 0.8rem;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  background-color: var(--background-color);
}

input:not([type="submit"]):focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--theme-color);
}

textarea {
  padding-bottom: 0.75rem;
}

input::placeholder,
textarea::placeholder {
  font-family: "Bellota", cursive;
  font-size: 1rem;
  color: var(--theme-color);
  font-weight: 500;
}
/*# sourceMappingURL=styles.css.map */

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background-color: var(--text-color-1) !important;
}